# Created by .ignore support plugin (hsz.mobi)
.name
.idea/DiscoverMeteor.iml
.idea/encodings.xml
.idea/jsLibraryMappings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
settings.json